gunicorn
flask==1.1.2
numpy==1.21.5
pandas==1.4.4
scikit-learn==1.1.1
flask_cors==3.0.10
flask_wtf
wtforms
markupsafe==2.0.1
jinja2==2.11.3
itsdangerous==2.0.1
werkzeug==2.0.3
click==8.0.4
pytz==2022.7
scipy==1.7.3
threadpoolctl==2.2.0
plotly==5.9.0
lightgbm==3.2.1
