body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: whitesmoke;
}

.navbar {
    background-color: #333333;
}

a {
    color: #f1f9f9;
}

a:hover {
    color: #f0f0f0;
}

.card {
    background-color: transparent;
}

.card-body {
    background-color: lightgoldenrodyellow;
}

.navbar {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    background-color: lightseagreen;
    /*opacity: 50%;*/
}

.navbar-brand {
    color: black;
}

h5 {
    font-weight: 700;
}

h3 {
    font-weight: 500;
}